:root {
  background-color: #1d1d1d;
}

.hide {
  display: none;
}

.search-section {
  width: fit-content;
  background-color: #fff;
  margin: 100px auto 50px auto;
}

.search-section input {
  width: 400px;
  padding: 10px;
  border: unset;
  margin-right: 10px;
}

.input-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 20px 10px;
  border-bottom: 2px solid #0093ff;
}

.input-search .item {
  margin: 5px 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-search .item span {
  min-width: 100px;
}

.input-search .item select {
  width: 400px;
  padding: 10px;
}

.search-section .fa-search {
  width: 1.5em;
  height: 1.5em;
}

.button-group {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.button-group button {
  padding: 8px 10px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #fff;
}

.button-group button:active {
  border-style: inset;
}

.button-group .btn-search {
  background-color: #0093ff;
  margin-left: 10px;
  color: #fff;
}

.sub-title {
  color: #fff;
  margin: 10px;
}

.results-list {
  margin: 20px 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.results-list .item {
  width: 120px;
}

.results-list .item .movie-img {
  width: 100%;
  transform: scale(1);
  transition: all 0.5s;
}

.results-list .item .movie-img:hover {
  transform: scale(1.1);
}

.results-list .item .poster-name {
  width: 100%;
  height: 179px;
  background: #fff;
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transform: scale(1);
  transition: all 0.5s;
  margin-bottom: 5px;
}

.results-list .item .poster-name:hover {
  transform: scale(1.1);
}

.mrg-bot {
  margin-bottom: 360px;
}

.results-list .detail-panel {
  height: 360px;
  margin: 20 auto;
  position: absolute;
  left: 0;
  width: 100%;
}

.results-list .detail-panel .detail-container {
  margin: 20px 40px;
}
